template(name="planningSessionLive")
  div.navbar.navbar-default.navbar-static-top.bottom-nav
    div.container-fluid
      div.navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#plan-nav")
          span.sr-only Toggle navigation
          i.glyphicon.glyphicon-chevron-down
        a.navbar-brand(href="#") #{session.name}
         +if session.goal
           i.text-muted : #{session.goal}
      #plan-nav.navbar-collapse.collapse
        +with session
          ul.nav.navbar-nav.navbar-right
            li.visible-xs.visible-sm(class="{{activeView 'board'}}" data-toggle="collapse" data-target="#plan-nav")
              a(href="{{pathFor 'planningSessionLive'}}") Planning Board
            li.visible-xs(class="{{activeView 'stories'}}" data-toggle="collapse" data-target="#plan-nav")
              a(href="{{pathFor 'planningSessionLive'}}?view=stories") User Stories
            li.visible-xs.visible-sm(class="{{activeView 'users'}}" data-toggle="collapse" data-target="#plan-nav")
              a(href="{{pathFor 'planningSessionLive'}}?view=users") Online Users
  +if currentView "board"
    .container-fluid
      .row
        .hidden-xs.col-sm-4.col-md-3
          .list-group
            .list-group-item.list-group-item-header User Stories
            +each stories
              +if sessionOwner
                a.list-group-item.story-item(href="#" class="{{activeStoryClass}}")
                  +story
              else
                .list-group-item(class="{{activeStoryClass}}")
                  +story

        .col-xs-12.col-sm-8.col-md-6
          .panel.panel-default.story-view
            .panel-body
              +if session.selectedStory
                +with selectedStory
                  +if estimateable
                    .estimate-box #{estimate}
                  h2 #{name}
                  p !{description}
                  +if estimateable
                    +if votingOpen
                      +planningSessionVoting
                    else
                      +if sessionOwner
                        +if resultsOpen
                          p: button.btn.btn-primary.pp-start-voting(data-story-id="{{_id}}") Vote Again
                        else
                          p: button.btn.btn-primary.pp-start-voting(data-story-id="{{_id}}") Start Voting!
                      +if resultsOpen
                        +planningSessionResults

              else
                h2 No user story selected yet
        .hidden-xs.hidden-sm.col-md-3
          .list-group
            .list-group-item.list-group-item-header Online Users
            +each users
              +memberItem member=this sessionOwner=sessionOwner
  +if currentView "stories"
    .container-fluid
      .row
        .col-xs-12
          .list-group
            .list-group-item.list-group-item-header User Stories
            +each stories
              +if sessionOwner
                a.list-group-item.story-item(href="#" class="{{activeStoryClass}}")
                  +story
              else
                .list-group-item(class="{{activeStoryClass}}")
                  +story
  +if currentView "users"
    .container-fluid
      .row
        .col-xs-12
          .list-group
            .list-group-item.list-group-item-header Online Users
            +each users
              +memberItem member=this sessionOwner=sessionOwner
